body{
    padding: 0;
    margin: 0;
    border-top: 30px #0070c0 solid; 
}
/* .header-container{
  
} */
.top-header{
    display: flex;
    flex-wrap: row wrap;
    padding: 0 0.7cm 0 0.7cm;
}
.top-header-left{
    flex: 30%;
    /* background-color:  teal; */
}
.logo{
    width: 100%;
    height: 100%;
}
.top-header-right{
    flex: 70%;
    padding: 1.5rem 2rem 0 5rem;
    /* background-color: pink; */
}
.top-header-navigation{
    display: flex;
    flex-wrap: row wrap;
    /* background-color: aliceblue;  */
    padding-left: 3rem;
}
.top-header-navigation a{
    /* display: block; */
    text-decoration: none;
    color: #0070c0;
    /* text-align: center; */
    font-size: 20px;
    margin-left: 3rem;
}
.top-header-navigation a:hover{
    /* display: block; */
   color: #191919;
   text-decoration: underline;
}
.top-header-navigation div:last-child{
    /* display: block; */
    margin-left: auto;    
  
}
.search-container {
    min-width: 100px;
    display: flex;
    flex-flow: row nowrap;
}
.search-container input[type=text]  {
    flex: 70%;
    font-size: 15px;
    min-width: 70px;
    max-width: 200px;
    border-radius: 0;
    /* border: solid 1px red; */
 
  }
.search-container button {
    flex: 30%;
    font-size: 15px;
    background-color: #0070c0;
    border: none;
    border-radius: 0;
     max-width: 50px; 
}
.top-header-text{
    color: #5B8DDC;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    font-family: Calibri;
    padding-top: 1rem;
 
    
}

  /* Moblie Styles */
@media only screen and (max-width: 660px) {
    /* body {
      background-color: green; Red 
    } */
    .top-header-right{
        padding: 0;
 
    }
    /* .top-header-navigation,  */
    .top-header , .top-header-navigation{
        flex-direction: column;
    }
    .top-header-navigation{
        padding:0;
    }
    .top-header-navigation a{

       margin-left: 0;
        padding: 0;
    }
   
    
    .top-header-navigation div:last-child{
        margin-left: 0; 
       /* border: 1px black solid */
    }
    .top-header-text{
        font-size: 25px;
    }
  }
  
  /* Medium Phone Styles 
  @media only screen and (min-width: 401px) and (max-width: 960px) {*/
  /* @media only screen and (min-width: 401px) and (max-width: 660px) {
    body {
      background-color: red; 
    }
    .top-header , .top-header-navigation{
        flex-direction: column;
    }
    .top-header-right{
        padding: 0;
 
    }
    .top-header-navigation{
        padding:0;
    }
    .top-header-navigation a{
        
       margin-left: 0;
        padding: 0;
    }
   
    .top-header-navigation a, .top-header-navigation div:last-child{
       
        margin-left: 0;
        padding: 0;
   
    }
    .top-header-text , .top-header-navigation{
        margin: 1rem;
    }
    
  } */
  /* Tablet Styles */
  /*change the logo at tablet mode*/
  @media only screen and (min-width: 661px) and (max-width: 1200px) {
    /* body {
       background-color: #F5CF8E; Yellow 
    } 
    */
    .top-header-right{
       flex: 64%;
        
       padding: 2rem 1rem 2rem 1rem;
    }
    /* .top-header-left img{
        display: none;
    } */
    .top-header-left{
        flex: 36%;
     }
     .top-header-navigation a, .top-header-navigation div:last-child{
        /* display: block; */
        /* margin-left: 0;     */
        margin-left: 2rem; 
       /* border: 1px black solid */
    }
     /* .top-header-navigation{
        
        padding-left: 0;
    } */
    .top-header-text {
        margin: 0;
        font-size: 28px;
    }
    
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    /* body {
       background-color: #B2D6FF; Blue 
    } */
  }
